/*@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Space+Grotesk:wght@600&display=swap');*/

@font-face {
    font-family: "Space Grotesk";
    src: url("space-grotesk.medium.ttf");
}

#title {
    font-weight: 900;
    font-family: "Space Grotesk";
    font-size: 200px;
}

* {
    font-family: "Space Grotesk";
}

#main {
    width: 965px;
}

/*#desc {
    text-align: left;
}*/

#sectiontitles {
    font-size: 25px;
}